<table border="0" cellspacing="0" cellpadding="0" align="center" width="550" style="width:100%;width:100%;padding:10px;padding:10px">
    <tbody>
        <tr>
            <td>
                <div style="direction:ltr;max-width:600px;margin:0 auto">
                    <table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="width:100%;width:100%;background-color:#fff;text-align:left;max-width:1024px;min-width:320px;margin:0 auto;background-color:#fff;text-align:left;margin:0 auto;max-width:1024px;min-width:320px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="m_-4955659536515908142subscribe-header" style="width:100%;width:100%;color:#08c;font-size:1.6em;background-color:#efefef;border-bottom:1px solid #ddd;margin:0;padding:0;color:#0088cc;margin:0 0 0px 0;font-size:1.6em;background-color:#efefef;padding:0;border-bottom:1px solid #ddd">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h2 class="m_-4955659536515908142subscribe-title" style="margin:.4em 0 .3em;font-size:1.8em;margin:.4em 0 .3em 0;font-size:1.8em;font-size:16px!important;line-height:1;font-weight:400;color:#464646;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:5px 20px!important;padding:0;padding:0px;margin:5px 20px!important;font-size:16px!important;line-height:1;font-weight:normal;color:#464646;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif">
                                                        <strong>{{user.nickname}}</strong>(<em>{{user.email}}</em>) mengajak Anda untuk mengelola <strong>Website SMA N 1 Bangkalan</strong>
                                                    </h2>
                                                </td>
                                                <td style="vertical-align:middle" height="32" width="32" valign="middle" align="right">
                                                    <img border="0" class="m_-4955659536515908142head-avatar CToWUd" src="http://mientz.github.io/file/project/public-assets/sma-n-1-bangkalan/img/logo.png" alt="" height="32" width="32" style="vertical-align:middle;margin:5px 20px 5px 0;margin:5px 20px 5px 0;vertical-align:middle;vertical-align:middle">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table style="width:100%;width:100%" width="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#ffffff">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table style="width:100%;width:100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding:0 0 0 0">
                                                                    <p style="direction:ltr;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em 0;margin:0 0 20px 0">

                                                                        {{user.nickname}}({{user.email}}) <a style="text-decoration:underline;color:#2585b2;text-decoration:underline;color:#2585b2" href="http://sman1bangkalan.sch.id" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sman1bangkalan.sch.id&amp;source=gmail&amp;ust=1482783669946000&amp;usg=AFQjCNE1QusgtJDPu0b5S7dGsXO22C5hcw">Website SMA N 1 Bangkalan</a>.{{messages.head}}
                                                                    </p>

                                                                    <p style="direction:ltr;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em 0;background:#ddd;padding:15px">{{messages.custom}}</p>

                                                                    <p style="direction:ltr;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em 0;margin:0 0 20px 0">
                                                                        <a href="https://wordpress.com/accept-invite/5700933/453c052ed537dfaca57b89e6039ecfd6/id" style="text-decoration:underline;color:#2585b2;text-decoration:underline;color:#2585b2;border-radius:10em;border:1px solid #11729e;text-decoration:none;color:#fff;background-color:#2585b2;padding:5px 15px;font-size:16px;line-height:1.4em;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:normal;margin-left:0;white-space:nowrap" target="_blank">Terima Ajakan</a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table border="0" cellspacing="0" width="100%" cellpadding="20" bgcolor="#efefef" class="m_-4955659536515908142subscribe-wrapper-sub" style="width:100%;width:100%;background-color:#efefef;text-align:left;border-top:1px solid #ddd;background-color:#efefef;text-align:left;border-top:1px solid #dddddd">
                                        <tbody>
                                            <tr>
                                                <td class="m_-4955659536515908142subscribe-content" style="border-top:1px solid #f3f3f3;color:#888;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;border-top:1px solid #f3f3f3;color:#888;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;background:#efefef;margin:0;padding:10px 20px 20px">
                                                    <p style="direction:ltr;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em 0;font-size:12px;line-height:1.4em;margin:0 0 10px 0">
                                                        Jangan balas pesan ini; ini dikirimkan dari alamat email yang tidak terpantau.
                                                    </p>
                                                    <p style="direction:ltr;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em;font-size:14px;line-height:1.4em;color:#444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em 0;font-size:12px;line-height:1.4em;margin:0 0 0 0">
                                                        <strong>Sulit mengeklik?</strong> Salin dan rekatkan URL ini ke peramban Anda:
                                                        <br>
                                                        <a style="text-decoration:underline;color:#2585b2;text-decoration:underline;color:#2585b2" href="{{url}}" target="_blank">{{url}}</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </tbody>
</table>
