/*area style*/
body {
    background-color: #d7d6d6;
/*    background-image: url(../img/logo-sman-1-bangkalan.png);*/
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
}

.row.wraper {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 1200px) {
    .row.wraper {
        margin-right: 015px;
        margin-left: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

body > .row > .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
/*    background: #fff;*/
    float: none;
}

/*header style*/
.container > .social-header {
    height: auto;
    min-height: 43px;
    border-top: 4px solid #eb8a44;
    background: #fff;
}

.social-header > .social-left {
    color: #747474 !important;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 12px;
    float: left;
}

.social-left > .separator {
    padding: 0 6px;
}

.social-header > .social-right {
    color: #a0a0a0 !important;
    font-size: 18px;
    padding-top:8px;
    text-align: right;
}

body > .row > .container > .header{
    padding-left: 0;
    padding-right: 0;
}

.header >.navbar {
	border-radius: 0px;
    font-size: 14px;
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .header > .navbar {
        border-radius: 0px;
        font-size: 14px;
        padding:0 120px 0 120px;
        margin-bottom: 0;
    }
}

.navbar-default {
    background-color: #ffffff;
    border-top: 0.2px solid #dedede;
}

@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top:29.5px;
        padding-bottom: 30.5px;
    }
    .navbar-header > .navbar-brand {
        padding-top:29.5px;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #727272;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    border-top: 3px solid rgba(235, 138, 68, 0);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #eb8a44;
    background-color: #fff;
    border-top: 3px solid #eb8a44;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #eb8a44;
    background-color: transparent;
    border-top: 3px solid #eb8a44;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #eb8a44;
    background-color: #fff;
    border-top: 3px solid #eb8a44;;
}

@media (min-width: 768px) {
    .drop-search {
        min-width:500px !important;
    }
}

@media (max-width: 767px) {

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #eb8a44;
        background-color: #fff;
        border-top: 3px solid #eb8a44;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000;
        background-color: #fff;
        border-top: 3px solid #eb8a44;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}

/*footer style*/
body > .row > .footer{
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0 0 0;
    background: #8C8989 !important;
    min-height: 320px;
    float: none;
}

.footer > .first-footer > .about {
    font-size: 12px;
    color:#fff;
    text-shadow: 2px 2px #4b4b4b;
}
.list-group-item.link {
    position: relative;
    display: block;
    padding: 10px 0;
    margin-bottom: -1px;
    background: none;
    border:0;
    border-bottom: 1px solid #ecf0f1;
}

.second-footer {
    height: auto;
    min-height: 43px;
    background: #212121;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.second-footer > .footer-left {
    float: left;
    padding-top: 10px;
    font-size: 12px;
    color: #fff;
}

.second-footer > .footer-right {
    color: #ffffff !important;
    font-size: 18px;
    padding-top:8px;
    text-align: right;
}

.carousel-area {
    margin:5px 0 0 0;
    padding: 0;
    height: 450px;
    max-height: 450px;
}

.carousel.slide{
    max-height: 450px;
    min-height: 400px;
    overflow: hidden;
}
.carousel-inner{
    height: 450px;
}

@media (max-width: 767px) {
    .carousel-area {
        margin:0;
        padding: 0;
        height: 150px;
        max-height: 150px;
    }

    .carousel.slide{
        max-height: 150px;
        min-height: 100px;
        overflow: hidden;
    }
    .carousel-inner{
        height: 150px;
    }
}

/*content custom style*/
.testimonial-area {
    margin-right: auto;
    margin-left: auto;
    float: none;
    padding: 0;
}

.testimonial-area > div {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 5px 0 0 0;
}

.testimonial-area > div div {
    padding-left: 6px;
}

.testimonial-area > div > div > div > i {
    font-size: 50px;
    float:left;
}

.testimonial-area > div > div > div > h4 {
    line-height: 45px;
    font-size: 20px;
    font-weight: 600;
}
.testimonial-area  p {
    font-size: 14px;
}
