<form method="post"  data-toggle="validator" role="form" action="{{ path_for('ApiPSB_DataSave', {'psb_id': psb_form.id, 'regnumber':regnumber, 'step': step }) }}">
    <fieldset>
        <legend>Piagam dan Sertifikat</legend>
        <div class="alert alert-dismissible alert-info">
            <div class="fa fa-info-circle fa-fw"></div> Tingkat : Kabupaten / Provinsi / Nasional
        </div>
        <table class="table table-bordered">
            <thead>
                <tr  class="active">
                    <th class="text-center" style="border:1px solid #ffffff;"></th>
                    <th class="text-center" style="border:1px solid #ffffff;">Jenis Piagam / Sertifikat</th>
                    <th class="text-center" style="width:100px;border:1px solid #ffffff;">Tahun</th>
                    <th class="text-center" style="border:1px solid #ffffff;">Tingkat*</th>
                    <th class="text-center" style="border:1px solid #ffffff;">Juara Ke</th>
                    <th class="text-center" style="border:1px solid #ffffff;">File</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-cert-count">
                    <td>
                        <button type="button" class="btn btn-danger btn-xs btn-cert-remove"><i class="fa fa-trash fa-fw"></i></button>
                    </td>
                    <td class="form-group">
                        <input class="form-control input-sm form-upcase" type="text" name="cert[1][name]" data-required-error="Wajib di-isi" required>
                        <div class="help-block with-errors"></div>
                    </td>
                    <td class="form-group">
                        <input class="form-control input-sm form-upcase" type="text" name="cert[1][year]" placeholder="{{"now"|date("Y")}}" data-required-error="Wajib di-isi" required>
                        <div class="help-block with-errors"></div>
                    </td>
                    <td class="form-group">
                        <input class="form-control input-sm form-upcase" type="text" name="cert[1][level]" placeholder="Jawa Timur" data-required-error="Wajib di-isi" required>
                        <div class="help-block with-errors"></div>
                    </td>
                    <td class="form-group">
                        <select class="form-control input-sm form-upcase" type="text" name="cert[1][rank]">
                            <option value="Juara 1">Juara 1</option>
                            <option value="Juara 2">Juara 2</option>
                            <option value="Juara 3">Juara 3</option>
                            <option value="Harapan 1">Harapan 1</option>
                            <option value="Harapan 2">Harapan 2</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </td>
                    <td>
                        <label class="btn btn-default btn-xs">
                            <input class="upload-file-selector" type="file" style="display:none;">
                            <i class="fa fa-cloud-upload fa-fw"></i>
                        </label>
                        <input type="hidden" class="cert-image" name="cert[1][image]">
                        <a href="" data-toggle="lightbox">
                            <img src="" style="max-height:30px;border:1px solid #000;border-radius:4px;">
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <button type="button" class="btn btn-info btn-sm btn-block btn-cert-add"><i class="fa fa-plus"></i> Tambah Piagam</button>
                    </th>
                </tr>
            </tfoot>
        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Selanjutnya</button>
        </div>
    </fieldset>
</form>
