{% extends "admin/base.html" %}{% block head %} {{ parent() }}
<link href="public/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
{% endblock %} {% block title %} Pengguna {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 no-gutter">
            <div class="col-md-8 no-gutter">
                <h3 class="page-title pull-left">Pengguna</h3>
                <a role="button" class="btn btn-info btn-xs pull-left invite-users" style="margin:8px;">Undang Pengguna</a>
            </div>
        </div>
        <div class="col-md-12 no-gutter" id="users-list" style="padding-top:20px;">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="all-pages">
                    <div class="col-md-6 no-gutter">
                    </div>
                    <div class="col-md-6 no-gutter">
                        <div class="form-group">
                            <div class="input-group" style="padding-left:20px;">
                                <input type="text" class="form-control input-sm search" style="width:100%" placeholder="Cari Nama atau email pengguna">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button"><i class="mdi mdi-magnify"></i> Cari Pengguna</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 no-gutter table-responsive">
                        <table class="table table-striped" id="users-list-table">
                            <thead>
                                <tr class="info">
                                    <th style="width:1em;"></th>
                                    <th style="width:55px;"></th>
                                    <th style="min-width:15em;">Nama Pengguna</th>
                                    <th>Nama</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Hak Akses</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for user in users %}
                                {% set status = user.status %}
                                {% set priv = user.privilege %}
                                {% set isadmin = false %}
                                {% for group in user.groups if group.role == 'administrator' %}
                                    {% set isadmin = true %}
                                {% endfor %}
                                <tr height='65' class="{{ user.id == user_data.id ? 'hidden' }}">
                                    <td id="id-container{{user.id}}">
                                        <div class="checkbox">
                                            <input type="checkbox" value="{{user.id}}" id="check{{user.id}}" class="pages-checkbox">
                                            <label for="check{{user.id}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="public/profile/{{user.image}}" style="width:100%;">
                                    </td>
                                    <td class="table-list-hasbutton" data-title="{{user.username}}">
                                        <strong class="username">
                                            {{user.username}}
                                        </strong>
                                        <div class="form-inline">
                                            {% for group in user.groups if group.id == 1 %}
                                            <a role="button" class="btn btn-link btn-sm no-gutter user-mod-sub" data-id="{{group.user_id}}" data-username="{{user.username}}"><span class="label label-info"><i class="fa fa-external-link"></i> Moderasi</span></a>
                                            {% endfor %}
                                            <a role="button" class="btn btn-link btn-sm no-gutter users-delete-sub" data-id="{{user.id}}" data-username="{{user.username}}"><span class="label label-danger"><i class="fa fa-trash"></i> Hapus Permanen</span></a>
                                        </div>
                                    </td>
                                    <td class="nickname">{{user.nickname}}</td>
                                    <td class="email">{{user.email}}</td>
                                    <td>
                                        {{ status.status == 'active' ? 'Aktif' }}
                                        {{ status.status == 'pending' ? 'Belum Mendaftar' }}
                                    </td>
                                    <td>
                                        {% for group in user.groups%}
                                        <strong>{{group.name}}</strong>
                                        {% if group.role == 'administrator' %}
                                        <span class="label label-danger">Admin Istimewa</span>
                                        {% elseif group.role == 'editor' %}
                                        <span class="label label-info">Admin Web</span>
                                        {% elseif group.role == 'writer' %}
                                        <span class="label label-success">Penulis</span>
                                        {% elseif group.role == 'register' %}
                                        <span class="label label-default">Admin Pendaftaran</span>
                                        {% endif %}
                                        <br>
                                        {% else %}
                                        {{ status.status == 'active' ? 'Pengguna Belum terdaftar pada kelompok apapun' }}
                                        {{ status.status == 'pending' ? 'Undangan telah terkirim' }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <th colspan="6"><center><h4>Tidak Ada Pos</h4></center></th>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="info">
                                    <th></th>
                                    <th></th>
                                    <th>Nama Pengguna</th>
                                    <th>Nama</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Hak Akses</th>
                                </tr>
                            </tfoot>
                        </table>
                        <ul class="pagination pagination-sm pull-right">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {{ parent() }}
{% verbatim %}
<script id="user-invite-dialog" type="x-tmpl-mustache">
<form method="post">
    <fieldset>
        <div class="form-group">
            <label class="control-label">Email Pengguna</label>
            <input class="form-control" type="email" name="email" placeholder="pengguna@contoh.com" required>
        </div>
        <div class="form-group">
            <label class="control-label">Peranan</label>
            <select class="form-control" id="select" name="role">
                <option value="editor">Administrator</option>
                <option value="writer">Penulis</option>
                <option value="register">Admin Pendaftaran</option>
                <option value="null">Pengguna Biasa (Pengguna Komunitas)</option>
            </select>
            <span class="help-block">
            &#8226; Peranan ini merupakan peranan pengguna pada <q class="text-info">Website Utama</q>.<br>
            &#8226; Jika ingin menambahkan pengguna untuk komunitas pilih Pengguna Biasa
            </span>
        </div>
    </fieldset>
</form>
</script>
<script id="user-mod-dialog" type="x-tmpl-mustache">
<form method="post">
    <fieldset>
        <div class="form-group">
            <label class="control-label">Email Pengguna</label>
            <input class="form-control" type="email" name="email" placeholder="pengguna@contoh.com" required>
        </div>
        <div class="form-group">
            <label class="control-label">Peranan</label>
            <select class="form-control" id="select" name="role">
                <option value="editor">Administrator</option>
                <option value="writer">Penulis</option>
                <option value="register">Admin Pendaftaran</option>
                <option value="null">Pengguna Biasa (Pengguna Komunitas)</option>
            </select>
            <span class="help-block">
            &#8226; Peranan ini merupakan peranan pengguna pada <q class="text-info">Website Utama</q>.<br>
            &#8226; Jika ingin menambahkan pengguna untuk komunitas pilih Pengguna Biasa
            </span>
        </div>
    </fieldset>
</form>
</script>
{% endverbatim %}
<script src="public/assets/js/list.min.js"></script>
<script src="public/assets/js/list.pagination.min.js"></script>
<script src="public/assets/js/bootbox.min.js"></script>
<script src="public/assets/js/jquery.form.min.js"></script>
<script>
    $(document).ready(function(){
        var UserList = new List('users-list', {
            valueNames: [ 'username', 'nickname', 'email', 'privilege' ]
        });
        $('.invite-users').on('click', function(){
            var dialog = bootbox.dialog({
                className: 'modal-info',
                title: 'Tambah Pengguna',
                message: Mustache.render($('#user-invite-dialog').html()),
                buttons: {
                    add: {
                        label: 'Tambah',
                        className: "btn-info",
                        callback: function() {
                            dialog.find('form').submit(function(e) {
                                e.preventDefault;
                                // return false to prevent normal browser submit and page navigation
                                return false;
                            });
                            var btn = $(this);
                            // submit the form
                            dialog.find('form').ajaxSubmit({
                                url: globalUrl.setAdminInviteusersJSON,
                                success:function(data) {
                                    if(data.success){
                                        location.reload();
                                    }else{
                                        $.notify(data.messages, "sh-error");
                                    }
                                }
                            });
                            return false;
                        }
                    },
                    cancel: {
                        label: 'Batal',
                        className: "btn-default",
                    }
                }
            });
        })
        
        $('.user-mod-sub').on('click', function(){
            var btn = $(this);
            bootbox.prompt({
                className: 'modal-info',
                size: "small",
                title: "Rubah peranan <q>"+btn.data('username')+"</q>?",
                inputType: 'select',
                value: btn.data('currentval'),
                inputOptions: [
                    {
                        text: 'Penulis',
                        value: 'writer',
                    },
                    {
                        text: 'Admin Web',
                        value: 'editor',
                    },
                    {
                        text: 'Admin istimewa',
                        value: 'administrator',
                    },
                ],
                callback: function(result){
                    if(result != null){
                        $.post(globalUrl.postAdminChangeUserGroupsJSON+'/'+btn.data('id'), { role: result },  function(data){
                            if(data.success){
                                location.reload();
                            }
                        });
                    }
                }
            })
        })
        $('.users-delete-sub').on('click', function(){
            var btn = $(this);
            bootbox.confirm({
                className: 'modal-danger',
                title: "Hapus pengguna <q>"+btn.data('username')+"</q>?",
                message: "Apakah anda yakin akan menghapus pengguna <q>"+btn.data('username')+"</q> ?",
                callback: function(result){
                    $.post(globalUrl.setAdminremoveUsersJSON+'/'+btn.data('id'),  function(data){
                        if(data.success){
                            location.reload();
                        }
                    });
                }
            })
        });
    })
</script>
{% endblock %}
