{% extends "admin/base.html" %} {% block head %} {{ parent() }}
<link href="public/assets/css/bootstrap-tagsinput.css" rel="stylesheet">
<link href="public/assets/css/croppie.css" rel="stylesheet"> {% endblock %} {% block title %} Pos {% endblock %} {% block content %}
<div class="container-fluid">
    <form method="post">
        <div class="row">
            <div class="col-md-12 no-gutter">
                <div class="col-md-8 no-gutter">
                    <h3 class="page-title pull-left">Tambahkan Pos Baru</h3>
                </div>
            </div>
            <div class="col-md-9 no-gutter" style="padding:10px 10px 0 0;">
                <div class="col-md-12 no-gutter">
                    <div class="form-group">
                        <label>Judul</label>
                        <input type="text" class="form-control" name="title" placeholder="Masukkan Judul Disini">
                    </div>
                </div>
                <div class="col-md-12 hidden">
                    <img src class="img-header-featured">
                </div>
                <div class="col-md-12 no-gutter">
                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#header-select"><i class="fa fa-picture-o fa-fw"></i> Tambahkan Gambar Fitur</a>
                    <a role="button" class="btn btn-danger btn-sm hidden" id="remove-croppie"><i class="fa fa-picture-o fa-fw"></i> Hapus Gambar Fitur</a>
                </div>
                <div class="col-md-12 no-gutter editor" style="padding-top:10px;color:">
                    <textarea name="content" id="editor1" rows="10" cols="80">
                    </textarea>
                </div>
            </div>
            <div class="col-md-3 no-gutter" style="padding:35px 0 0 10px;">
                <div class="panel panel-default" style="background:#fff; color:#4e5d6c; ">
                    <a class="panel-heading" role="button" data-toggle="collapse" href=".terbitkan" aria-expanded="true" aria-controls="collapseExample" style="display:block;">
                        Terbitkan
                    </a>
                    <div class="panel-body collapse in terbitkan">
                        <button type="button" class="btn btn-default btn-sm pull-left" value=""><i class="fa fa-floppy-o fa-fw"></i> Simpan Konsep</button>
                        <a href="" class="btn btn-default btn-sm pull-right"><i class="fa fa-eye fa-fw"></i> Pratinjau</a>
                        <br>
                        <br>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-info-circle fa-fw"></i> Status: <span class="text-info">Konsep</span></li>
                            <li><i class="fa fa-eye fa-fw"></i> Kenampakan: <a href="#" class="text-info">Umum <i class="fa fa-pencil"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-footer collapse in terbitkan">
                        <button type="button" class="btn btn-link">&nbsp;</button>
                        <button type="submit" class="btn btn-info pull-right" value="Terbitkan">Terbitkan</button>
                    </div>
                </div>
                <div class="panel panel-default" style="background:#fff; color:#4e5d6c; ">
                    <a class="panel-heading" role="button" data-toggle="collapse" href=".kategori" aria-expanded="true" aria-controls="collapseExample" style="display:block;">
                        Kategori
                    </a>
                    <div class="panel-body collapse in kategori">
                        <div class="col-md-12 no-gutter category-select">
                        </div>
                        <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-plus fa-fw"></i> Tambah Kategori</a>
                    </div>
                </div>
                <div class="panel panel-default" style="background:#fff; color:#4e5d6c; ">
                    <a class="panel-heading" role="button" data-toggle="collapse" href=".tag" aria-expanded="true" aria-controls="collapseExample" style="display:block;">
                        Tag
                    </a>
                    <div class="panel-body collapse in tag">
                        <input type="text" class="form-control input-sm" data-role="tagsinput">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="header-select" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pilih Gambar Fitur</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li><a href="#upload" data-toggle="tab">Upload</a></li>
                            <li class=""><a href="#select" data-toggle="tab">Pustaka Gambar Fitur</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content" style="border-top:1px solid #fff;">
                            <div class="tab-pane fade" id="upload">
                                <div id="image-uploader" class="col-md-12 text-center" style="min-height:500px; border: 10px dashed #777">
                                    <h3 style="margin-top:260px;">Klik atau Tarik gambar di sini untuk meng-upload</h3>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="select">
                                <div class="col-md-9" id="list-images" style="border-right:1px solid white">
                                    <div class="form-inline" style="padding:20px 15px;">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Tahun</label>
                                                <select class="form-control input-sm search" id="img-year">
                                                    <option>Semua Tahun</option>
                                                </select>
                                            </div>
                                            <label for="exampleInputName2">Bulan</label>
                                            <select class="form-control input-sm search" id="img-month">
                                                <option>Semua Bulan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" id="image-list-div" style="max-height:600px; overflow-y: auto;">

                                    </div>
                                </div>
                                <div class="col-md-3" id="post-image-detail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary  disabled choose-this"  data-dismiss="modal">Pilih Gambar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {{ parent() }} {% verbatim %}
<script id="category-tmpl" type="x-tmpl-mustache">
    <div class="radio radio-primary">
        <input type="radio" name="category" id="radio{{id}}" value="{{id}}" {{checked}}>
        <label for="radio{{id}}">
            {{name}}
        </label>
    </div>
</script>
<script id="upload-preview-tmpl" type="x-tmpl-mustache">
    <div class="dz-preview dz-file-preview">
        <div class="dz-details">
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-size" data-dz-size></div>
            <img data-dz-thumbnail />
        </div>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
</script>
<script id="list-upload-preview-tmpl" type="x-tmpl-mustache">
    <a role="button" class="col-md-3 postimage-selectthis" data-img="{{file}}" data-size="{{size}}" data-year="{{year}}" data-month="{{month}}" data-day="{{day}}" data-pixel="{{pixel}}">
        <img src="public/content/{{thumb}}" class="img-responsive" alt="">
    </a>
</script>
<script id="list-upload-preview-detail-tmpl" type="x-tmpl-mustache">
    <img src="public/content/{{image}}" class="img-responsive" alt="">
    <p>
        {{image}}
        <br> {{time}}
        <br> {{size}}
        <br> {{pixel}}
        <a href="#" class="btn btn-danger btn-xs">Hapus Gambar</a>
    </p>
</script>
{% endverbatim %}
<script src="public/assets/ckeditor/ckeditor.js"></script>
<script src="public/assets/js/bootstrap-tagsinput.js"></script>
<script src="public/assets/js/croppie.min.js"></script>
<script src="public/assets/js/dropzone.js"></script>
<script>
    CKEDITOR.replace('editor1');
    var basic = $('.img-header-featured')
    function loadCategory() {
        $.getJSON("{{ path_for('admin-category-json') }}", {}, function (data) {
            $.each(data, function (key, val) {
                if (key == 0) {
                    val.checked = 'checked'
                }
                $('.category-select').append(Mustache.render($('#category-tmpl').html(), val));
            });
        });
    }
    $(document).ready(function () {
        loadCategory();
        Dropzone.autoDiscover = false;
        $('#header-select').find('#image-uploader').dropzone({
            url: "{{ path_for('admin-postmedia-uploader') }}",
            maxFileSize: 2,
            createImageThumbnails: true,
            aceptedFiles: 'image/*,',
            previewTemplate: Mustache.render($('#upload-preview-tmpl').html()),
            init: function () {
                this.on('complete', function (file) {
                    $('#header-select').find('li a[href="#select"]').tab('show')
                    $('#header-select').find('.dz-preview').html('');
                })
            }
        });
    });
    $('#header-select').on('show.bs.modal', function (event) {
        var modal = $(this);
        modal.find('li a[href="#select"]').on('shown.bs.tab', function (e) {
            e.target // newly activated tab
            e.relatedTarget // previous active tab
            $.getJSON("{{ path_for('admin-postmedia-list') }}", {
                year: 'all',
                month: 'all'
            }, function (data) {
                modal.find('#img-year').html('<option value="all">Semua Tahun</option>');
                populate_gallery('all', 'all')
                $.each(data.time, function (key, val) {
                    modal.find('#img-year').append('<option value="' + key + '">' + key + '</option>');
                });
                modal.find('#img-year').on('change', function () {
                    populate_gallery($(this).val(), 'all')
                    modal.find('#img-month').html('<option value="all">Semua Bulan</option>');
                    var year = $(this).val();
                    $.each(data.time[year], function (key, val) {
                        modal.find('#img-month').append('<option value="' + val + '">' + month_replacer(val) + '</option>');
                    });
                    modal.find('#img-month').on('change', function () {
                        populate_gallery($('#img-year').val(), $(this).val())
                    });
                });
            });
        });

        function populate_gallery(year, month) {
            $.getJSON("{{ path_for('admin-postmedia-list') }}", {
                year: year,
                month: month
            }, function (data) {
                modal.find('#image-list-div').html('')
                $.each(data.image, function (key, val) {
                    modal.find('#image-list-div').append(Mustache.render($('#list-upload-preview-tmpl').html(), val))
                })
                modal.find('.postimage-selectthis').on('click', function () {
                    modal.find('.postimage-selectthis').css('border', 'none');
                    modal.find('.postimage-selectthis').css('background', 'none');
                    $(this).css('border', '1px solid #31b0d5')
                    $(this).css('background', '#31b0d5')
                    var elm = $(this)
                    modal.find('#post-image-detail').html(Mustache.render($('#list-upload-preview-detail-tmpl').html(), {
                            image: elm.data('img'),
                            size: elm.data('size'),
                            time: elm.data('day') + ' ' + month_replacer(elm.data('month')) + ', ' + elm.data('year'),
                            'pixel': elm.data('pixel')
                    }));
                    modal.find('.choose-this').removeClass('disabled');
                    modal.find('.choose-this').data('image', elm.data('img'));
                });
            });
        }
        modal.find('li a[href="#select"]').tab('show');
    });
    $('#header-select').on('hide.bs.modal', function (event) {
        var modal = $(this);
        modal.find('#image-uploader').dropzone = false;
        modal.find('.choose-this').addClass('disabled');

        var parent = $('.img-header-featured').parent()
        parent.removeClass('hidden')
        basic.croppie({
            viewport: {
                width: 342,
                height: 213
            },
            boundary: { width: parent.width(), height: 250 },
            update: function(data){
                console.log(data)
            }
        })
        basic.croppie('bind', {
            url: 'public/content/' + $('.choose-this').data('image')
        });

        $('#remove-croppie').removeClass('hidden');
    });

    $('#remove-croppie').on('click', function(){
        basic.croppie('destroy');
        $(this).addClass('hidden');
    })
    function month_replacer(month) {
        var day = ''
        switch (month) {
        case '01':
            day = "Januari";
            break;
        case '02':
            day = "Februari";
            break;
        case '03':
            day = "Maret";
            break;
        case '04':
            day = "April";
            break;
        case '05':
            day = "Mei";
            break;
        case '06':
            day = "Juni";
            break;
        case '07':
            day = "Juli";
            break;
        case '08':
            day = "Agustus";
            break;
        case '09':
            day = "September";
            break;
        case '10':
            day = "Oktober";
            break;
        case '11':
            day = "November";
            break;
        case '12':
            day = "Desember";
        }
        return day;
    }
</script>
{% endblock %}
