{% extends "admin/base.html" %} {% block head %} {{ parent() }}
<link href="public/assets/css/bootstrap-tagsinput.css" rel="stylesheet">
<link href="public/assets/summernote/summernote.css" rel="stylesheet">
<link href="public/assets/css/croppie.css" rel="stylesheet">
<link href="public/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
{% endblock %} {% block title %} Pos {% endblock %} {% block content %}
<div class="container-fluid">
    <form method="post" id="add-post-form">
        <div class="row">
            <div class="col-md-12 no-gutter">
                <div class="col-md-8 no-gutter">
                    <h3 class="page-title pull-left">Tambah Pos Baru</h3>
                </div>
            </div>
            <div class="col-md-9 no-gutter" style="padding:10px 10px 0 0;">
                <div class="col-md-12 no-gutter">
                    <div class="form-group">
                        <label>Judul</label>
                        <input type="text" class="form-control" name="title" placeholder="Masukkan Judul Disini" required value="">
                    </div>
                </div>
                <label class="text-left">Gambar Fitur </label>
                <a role="button" class="btn btn-info btn-xs" id="add-post-header-select-add"><i class="fa fa-picture-o fa-fw"></i> Pilih Gambar Fitur</a>
                <input id="add-post-header-value" type="hidden" name="image" value="">
                <div class="col-md-12 no-gutter hidden" id="add-post-header" align="center">
                    <div id="add-post-header-image-cropper" class="col-md-12 no-gutter">
                        <div class="cropit-preview col-md-8" style="cursor: move;"></div>
                        <div class="col-md-4 no-gutter" style="padding-left:20px;">
                            <div class="btn-group btn-group-justified">
                                <a role="button" class="btn btn-info btn-sm" id="add-post-header-select-change"><i class="fa fa-picture-o fa-fw"></i> Ganti Gambar</a>
                                <a role="button" class="btn btn-danger btn-sm" id="add-post-header-select-remove"><i class="fa fa-times fa-fw"></i> Hapus Gambar</a>
                            </div>
                            <div class="form-group" style="text-align:left;">
                                <label class="control-label">Perbesar</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-picture-o fa-fw"></i></span>
                                    <div class="form-control">
                                        <input type="range" class="cropit-image-zoom-input" min="0" max="1" step="0.01">
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-picture-o fa-lg fa-fw"></i></span>
                                </div>
                                <span class="help-block">
                                    Geser slider diatas untuk mengatur perbesaran gambar.
                                </span>
                                <span class="help-block">
                                    Geser gambar disamping untuk menentukan area yang ingin ditampilkan.
                                </span>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-12 no-gutter editor" style="padding-top:10px;color:">
                    <div id="add-post-content-editor"></div>
                    <input type="hidden" id="add-post-content-value" name="content">
                </div>
            </div>
            <div class="col-md-3 no-gutter" style="padding:35px 0 0 10px;">
                <div class="panel panel-default" style="background:#fff; color:#4e5d6c; ">
                    <a class="panel-heading" role="button" data-toggle="collapse" href=".terbitkan" aria-expanded="true" aria-controls="collapseExample" style="display:block;">
                        Simpan Perubahan
                    </a>
                    <div class="panel-body collapse in terbitkan">
                        <button id="add-post-publish-trigger" class="btn btn-default btn-sm pull-left"><i class="fa fa-floppy-o fa-fw"></i> Simpan Konsep</button>
                        <a href="" class="btn btn-default btn-sm pull-right hidden"><i class="fa fa-eye fa-fw"></i> Pratinjau</a>
                        <br>
                        <br>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-info-circle fa-fw"></i> Status:
                                <span class="text-info">Konsep</span>
                            </li>
                            <li  data-toggle="tooltip" data-placement="left" title="" data-original-title="Klik Untuk Merubah Kenampakan Pos">
                                <i class="fa fa-eye fa-fw"></i> Kenampakan:
                                <a role="button" class="text-info" data-toggle="collapse" href=".Kenampakan" aria-expanded="false" aria-controls="collapseExample">
                                    Umum <i class="fa fa-pencil"></i>
                                </a>
                                <div class="form-horizontal collapse Kenampakan">
                                    <div class="radio radio-primary">
                                        <input type="radio" name="visibility" id="public" value="1" checked>
                                        <label for="public" onclick="$('input[name=password]').addClass('hidden')" onload="$('input[name=password]').addClass('hidden')">
                                            Umum
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <input type="radio" name="visibility" id="password" value="2">
                                        <label for="password" onclick="$('input[name=password]').removeClass('hidden')">
                                            Terlindungi Password
                                            <input type="password" name="password" class="form-control hidden" style="border-color:#000;" placeholder="password">
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <input type="radio" name="visibility" id="private" value="0">
                                        <label for="private" onclick="$('input[name=password]').addClass('hidden')">
                                            Tersembunyi
                                        </label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer collapse in terbitkan">
                        <button type="button" class="btn btn-link">&nbsp;</button>
                        <input type="submit" class="btn btn-info pull-right" id="add-post-publish-trigger" name="type" value="Terbitkan">
                    </div>
                </div>
                <div class="panel panel-default" style="background:#fff; color:#4e5d6c; ">
                    <a class="panel-heading" role="button" data-toggle="collapse" href=".kategori" aria-expanded="true" aria-controls="collapseExample" style="display:block;">
                        Kategori
                    </a>
                    <div class="panel-body collapse in kategori">
                        <div class="col-md-12 no-gutter" id="add-post-category-list">
                        </div>
                        <a class="btn btn-default btn-xs pull-right" role="button" data-toggle="collapse" href=".add-kategori" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-plus fa-fw"></i> Tambah Kategori</a>
                        <div class="form-group has-success collapse add-kategori pull-right">
                            <label class="control-label">Tambahkan Kategori</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="add-post-category-add-input">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="add-post-category-add-trigger" >Simpan</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="background:#fff; color:#4e5d6c;">
                    <a class="panel-heading" role="button" data-toggle="collapse" href=".tag" aria-expanded="true" aria-controls="collapseExample" style="display:block;">
                        Tag
                    </a>
                    <div class="panel-body collapse in tag" data-toggle="tooltip" data-placement="left" title="" data-original-title="Untuk memasukkan tag lebih dari satu gunakan tombol 'Enter'">
                        <input type="text" class="form-control input-sm" id="add-post-tags-input" name="tag">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %} {% block js %} {{ parent() }} {% verbatim %}
<script id="add-post-category-list-tmpl" type="x-tmpl-mustache">
    <div class="radio radio-primary">
        <input type="radio" name="category" id="radio{{id}}" value="{{id}}" {{checked}}>
        <label for="radio{{id}}">
            {{name}}
    </label>
    </div>
</script>
<script id="add-post-postmedia-upload-preview" type="x-tmpl-mustache">
    <div class="dz-preview dz-file-preview">
        <div class="dz-details">
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-size" data-dz-size></div>
            <img data-dz-thumbnail />
    </div>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
</script>
<script id="add-post-postmedia-list-preview" type="x-tmpl-mustache">
    {{#postmedia}}
    <a role="button" class="col-md-3 postimage-selectthis no-gutter" data-img="{{file}}" data-size="{{size}}" data-year="{{year}}" data-month="{{month}}" data-day="{{day}}" data-pixel="{{pixel}}" style="padding-bottom:20px;">
        <center><img src="{{thumbnail}}" class="img-responsive lazy" alt=""></center>
    </a>
    {{/postmedia}}
</script>
<script id="add-post-postmedia-detail" type="x-tmpl-mustache">
    <img src="public/content/{{image}}" class="img-responsive" alt="">
    <p>
        {{image}}
        <br> {{time}}
        <br> {{size}}
        <br> {{pixel}}
        <a href="#" class="btn btn-danger btn-xs">Hapus Gambar</a>
    </p>
</script>
{% endverbatim %}
<script src="public/assets/js/jquery.form.min.js"></script>
<script src="public/assets/js/bootstrap-tagsinput.js"></script>
<script src="public/assets/js/bootstrap3-typeahead.min.js"></script>
<script src="public/assets/js/jquery.cropit.js"></script>
<script src="public/assets/js/dropzone.js"></script>
<script src="public/assets/summernote/summernote.min.js"></script>
<script src="public/assets/summernote/lang/summernote-id-ID.min.js"></script>
<script src="public/assets/js/bootbox.min.js"></script>
<script>
    $(document).ready(function(){
        globalSummernote($('#add-post-content-editor'), $('#add-post-content-value'));
        addPostPage();
    })
</script>
{% endblock %}
