<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <base href="{{ path_for('homepage') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} ‹ SMA N 3 Bangkalan - Admin </title>
    <link href="public/assets/css/admin.css" rel="stylesheet">
    <link href="public/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/assets/css/admin.style.css" rel="stylesheet"> {% endblock %} {% set privilege = user_data.privilege %}
</head>

<body>
    <!--top navbar static-->
    <div class="wraper">
        <nav class="navbar navbar-default navbar-fixed-top" style="border-bottom:1px solid #3c3c3c;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#profile-sm-menu" style="padding:2px 0;">
                        <img src="public/profile/{{ user_data.image }}" height="25px">
                    </button>
                    <button type="button" class="navbar-toggle collapsed" id="menu-toggle" style="float:left;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-xs hidden-sm" href="#">
                        <img src="res/img/logo.png" height="100%">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="profile-sm-menu">
                    <ul class="nav navbar-nav hidden-xs hidden-sm">
                        <li><a href="#" class="btn btn-default navbar-btn btn-lg"><i class="fa fa-envelope-o"></i>&nbsp;<span class="badge">42</span></a></li>
                        <li><a href="{{ uri_base }}" target="_blank" class="btn btn-default navbar-btn btn-lg"><span class="badge">SMA Negeri 1 Bangkalan <i class="fa fa-external-link-square fa-fw"></i></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-md hidden-lg">
                        <li><a href="#">{{ user_data.nickname }} ({{ user_data.username }})</a></li>
                        <li><a href="#">Pengaturan Akun</a></li>
                        <li><a href="{{ path_for('logout') }}">Log Out</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Admin &nbsp;
                                    <div class="pull-right">
                                        <img src="public/profile/{{ user_data.image }}" height="22px">
                                    </div>
                                </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <img src="public/profile/{{ user_data.image }}" class="icon-size">
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>{{ user_data.nickname }} ({{ user_data.username }})</strong></p>
                                                <p class="text-left small">{{ user_data.email }}</p>
                                                <p class="text-left">
                                                    <a href="#" class="btn btn-info btn-block btn-sm">Pengaturan Akun</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path_for('logout') }}" class="btn btn-danger btn-block">Log Out</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--after top navbar wrapper static-->
    <div id="wrapper">
        <!--sidebar wrapper-->
        <div id="sidebar-wrapper">
            <ul class="nav nav-pills nav-stacked">
                <li class="{{ dashboard }}" style="padding: 10px 0;">
                    <a href="{{ path_for('admin-dashboard') }}"><i class="fa fa-circle-o-notch fa-spin" style="padding:0;margin-right:10px;"></i>Dasbor</a>
                </li>
                {% if privilege.post_management %}
                <li class="{{ post }}{{ addpost }}">
                    <a href="{{ path_for('admin-allpost') }}"><i class="fa fa-thumb-tack fa-fw"></i>Pos</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class="{{ post }}"><a href="{{ path_for('admin-allpost') }}">Semua Pos</a></li>
                        <li class="{{ addpost }}"><a href="{{ path_for('admin-addpost') }}">Tambah Baru</a></li>
                        <li class=""><a href="#">Media</a></li>
                        <li class=""><a href="#">Kategori</a></li>
                        <li class=""><a href="#">Tags</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-clone fa-fw"></i>Halaman</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class=""><a href="#">Semua Halaman</a></li>
                        <li class=""><a href="#">Tambah Baru</a></li>
                        <li class=""><a href="#">Manager File</a></li>
                        <li class=""><a href="#">Data Guru</a></li>
                    </ul>
                </li>
                <li class=""><a href="#"><i class="fa fa-comments-o fa-fw"></i>Komentar</a></li>
                <li class="">
                    <a href="#"><i class="fa fa-picture-o fa-fw"></i>Galeri</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class=""><a href="#">Pustaka</a></li>
                        <li class=""><a href="#">Tambah Album</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav nav-pills nav-stacked" style="padding-top:30px;">
                {% if privilege.register_management %}
                <li class="">
                    <a href="#"><i class="fa fa-rocket fa-fw"></i>Aplikasi</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class=""><a href="#">Pendaftaran</a></li>
                        <li class=""><a href="#">Pengaturan</a></li>
                        <li class=""><a href="#">Data Pendaftar</a></li>
                        <li class=""><a href="#">Formulir Data Siswa</a></li>
                    </ul>
                </li>
                {% endif %} {% if privilege.web_management %}
                <li class="">
                    <a href="#"><i class="fa fa-paint-brush fa-fw"></i>Tampilan</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class=""><a href="#">Pengaturan Tampilan</a></li>
                        <li class=""><a href="#">Halaman Depan</a></li>
                        <li class=""><a href="#">Menu</a></li>
                    </ul>
                </li>
                {% endif %} {% if privilege.user_management %}
                <li class="">
                    <a href="#"><i class="fa fa-user-circle-o fa-fw"></i>Pengguna</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class=""><a href="#">Semua Pengguna</a></li>
                        <li class=""><a href="#">Tambah Baru</a></li>
                        <li class=""><a href="#">Komunitas</a></li>
                        <li class=""><a href="#">Profil Anda</a></li>
                    </ul>
                </li>
                {% endif %} {% if privilege.web_management %}
                <li class="">
                    <a href="#"><i class="fa fa-sliders fa-fw"></i>Pengaturan</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class=""><a href="#">Umum</a></li>
                        <li class=""><a href="#">Menu</a></li>
                        <li class=""><a href="#">Email</a></li>
                        <li class=""><a href="#">Media Sosial</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            {% block content %} {% endblock %}
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    {% block js %}
    <script src="public/assets/js/jquery.min.js"></script>
    <script src="public/assets/js/bootstrap.min.js"></script>
    <script src="public/assets/js/mustache.min.js"></script>
    <script src="public/assets/js/admin.app.js"></script>
    {% endblock %}
</body>

</html>
