{% extends "admin/base.html" %}{% block head %} {{ parent() }}
<link href="public/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
{% endblock %} {% block title %} Halaman {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 no-gutter">
            <div class="col-md-8 no-gutter">
                <h3 class="page-title pull-left">Halaman</h3>
                <a href="{{ path_for('getAdminPagesAddHTML') }}" class="btn btn-info btn-xs pull-left" style="margin:8px;">Tambah Baru</a>
            </div>
        </div>
        <div class="col-md-12 no-gutter">
            <ul id="myTabpages" class="nav nav-pills custom-nav-pills">
                <li class="{{ pages_tab == 'all' ? 'active' }}"><a href="{{ path_for('getAdminPagesListHTML') }}">Semua <span class="badge">{{ mw_count_all }}</span></a></li>
                <li class="{{ pages_tab == 'deleted' ? 'active' }}"><a href="{{ path_for('getAdminPagesListHTML', {'type': 'deleted'}) }}">Tong Sampah <span class="badge">{{ mw_count_deleted }}</span></a></li>
            </ul>
        </div>
        <br>
        <div class="col-md-12 no-gutter" id="pages-list" style="padding-top:20px;">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="all-pages">
                    <div class="col-md-6 no-gutter">
                        <div class="form-inline pull-left">
                            <div class="form-group">
                                <select class="form-control input-sm" id="pages-list-batch-action">
                                    <option value="*">Tindakan Masal</option>
                                    {% if pages_tab != 'deleted' %}
                                    <option value="trash">Masukan Tong Sampah</option>
                                    {% endif %} {% if pages_tab == 'deleted' %}
                                    <option value="revert">Kembalikan</option>
                                    <option value="delete">Hapus Permanen</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info btn-sm disabled" id="pages-list-batch-action-trigger">Terapkan</button>
                            </div>
                        </div>
                        <div class="form-inline pull-left" style="padding-left:20px;">
                            <div class="form-group">
                                <select class="form-control input-sm" id="pages-list-filter-date-trigger">
                                    <option value="*">Semua Tanggal</option>
                                    {% for date in mw_date_groups %}
                                    <option value='{{date.date|date("m y")}}'>{{date.date|date("F Y")}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-gutter">
                        <div class="form-group">
                            <div class="input-group" style="padding-left:20px;">
                                <input type="text" class="form-control input-sm search" style="width:100%" placeholder="Masukkan Halaman Yang Dicari">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button"><i class="mdi mdi-magnify"></i> Cari Halaman</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 no-gutter table-responsive">
                        <table class="table table-striped" id="pages-list-table">
                            <thead>
                                <tr class="info">
                                    <th style="width:1em;"></th>
                                    <th>Judul</th>
                                    <th style="width:10em;">Penulis</th>
                                    <th style="width:30em;">Deskripsi</th>
                                    <th style="width:10em;">Tanggal</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for page in pages %}
                                <tr height='65'>
                                    <td id="id-container{{pages.id}}">
                                        <div class="checkbox">
                                            <input type="checkbox" value="{{pags.id}}" id="check{{page.id}}" class="pages-checkbox">
                                            <label for="check{{page.id}}"></label>
                                        </div>
                                    </td>
                                    <td class="pages-title" data-title="{{page.title}}">
                                        <strong class="title">
                                            {{page.title}}
                                        </strong>
                                        <div class="form-inline">
                                            <a href="{{ path_for('getAdminPagesEditHTML', {'id': page.id}) }}" class="btn btn-link btn-sm no-gutter {{ pages_tab != 'deleted' ?:'hidden' }}"><span class="label label-info"><i class="fa fa-pencil"></i> Edit</span></a>
                                            <a role="button" class="btn btn-link btn-sm no-gutter pages-trash-sub {{ pages_tab != 'deleted' ?:'hidden' }}" data-id="{{page.id}}"><span class="label label-primary"><i class="fa fa-trash"></i> Hapus</span></a>
                                            <a href="" class="btn btn-link btn-sm no-gutter {{ pages_tab != 'deleted' ?:'hidden' }}"><span class="label label-success"><i class="fa fa-external-link"></i> Partinjau</span></a>
                                            <a role="button" class="btn btn-link btn-sm no-gutter pages-revert-sub {{ pages_tab == 'deleted' ?:'hidden' }}" data-id="{{page.id}}"><span class="label label-info"><i class="fa fa-undo"></i> Kembalikan</span></a>
                                            <a role="button" class="btn btn-link btn-sm no-gutter pages-delete-sub {{ pages_tab == 'deleted' ?:'hidden' }}" data-id="{{page.id}}"><span class="label label-danger"><i class="fa fa-trash"></i> Hapus Permanen</span></a>
                                        </div>
                                    </td>
                                    <td>{{page.author}}</td>
                                    <td class="category">{{page.descriptions}}</td>
                                    <td>
                                        Terakhir Diubah
                                        <br> {{page.date|date("d M y")}}
                                        <span class="date hidden">{{page.date|date("m y")}}</span>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <th colspan="6"><center><h4>Tidak Ada Pos</h4></center></th>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="info">
                                    <th></th>
                                    <th>Judul</th>
                                    <th>Penulis</th>
                                    <th>Deskripsi</th>
                                    <th>Tanggal</th>
                                </tr>
                            </tfoot>
                        </table>
                        <ul class="pagination pagination-sm pull-right">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {{ parent() }}
<script src="public/assets/js/list.min.js"></script>
<script src="public/assets/js/list.pagination.min.js"></script>
<script src="public/assets/js/bootbox.min.js"></script>
<script>
    $(document).ready(function(){
        pagesListPage();
    })
</script>
{% endblock %}
