{% extends "admin/base.html" %}{% block head %} {{ parent() }}
<link href="public/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet"> {% endblock %} {% block title %} Pos {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 no-gutter">
            <div class="col-md-8 no-gutter">
                <h3 class="page-title pull-left">Pos</h3>
                <a href="{{ path_for('admin-addpost') }}" class="btn btn-info btn-xs pull-left" style="margin:8px;">Tambah Baru</a>
            </div>
        </div>
        <div class="col-md-12 no-gutter">
            <ul id="myTabPost" class="nav nav-pills custom-nav-pills">
                <li class="{{ post_tab == 'all' ? 'active' }}"><a href="{{ path_for('getAdminPostListHTML') }}">Semua <span class="badge">{{ mw_count_all }}</span></a></li>
                <li class="{{ post_tab == 'published' ? 'active' }}"><a href="{{ path_for('getAdminPostListHTML', {'type': 'published'}) }}">Telah Terbit <span class="badge">{{ mw_count_published }}</span></a></li>
                <li class="{{ post_tab == 'draft' ? 'active' }}"><a href="{{ path_for('getAdminPostListHTML', {'type': 'draft'}) }}">Konsep <span class="badge">{{ mw_count_draft }}</span></a></li>
                <li class="{{ post_tab == 'deleted' ? 'active' }}"><a href="{{ path_for('getAdminPostListHTML', {'type': 'deleted'}) }}">Tong Sampah <span class="badge">{{ mw_count_deleted }}</span></a></li>
            </ul>
        </div>
        <br>
        <div class="col-md-12 no-gutter" id="post-list" style="padding-top:20px;">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="all-post">
                    <div class="col-md-6 no-gutter">
                        <div class="form-inline pull-left">
                            <div class="form-group">
                                <select class="form-control input-sm" id="post-list-batch-action">
                                    <option value="*">Tindakan Masal</option>
                                    {% if post_tab != 'deleted' and post_tab != 'published' %}
                                    <option value="publish">Terbitkan Semua</option>
                                    {% endif %} {% if post_tab != 'deleted' and post_tab != 'draft' %}
                                    <option value="draft">jadikan Konsep</option>
                                    {% endif %} {% if post_tab != 'deleted' %}
                                    <option value="trash">Masukan Tong Sampah</option>
                                    {% endif %} {% if post_tab == 'deleted' %}
                                    <option value="revert">Kembalikan</option>
                                    <option value="delete">Hapus Permanen</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info btn-sm disabled" id="post-list-batch-action-trigger">Terapkan</button>
                            </div>
                        </div>
                        <div class="form-inline pull-left" style="padding-left:20px;">
                            <div class="form-group">
                                <select class="form-control input-sm" id="post-list-filter-date-trigger">
                                    <option value="*">Semua Tanggal</option>
                                    {% for date in mw_date_groups %}
                                    <option value='{{date.date|date("m y")}}'>{{date.date|date("F Y")}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-inline pull-left" style="padding-left:20px;">
                            <div class="form-group">
                                <select class="form-control input-sm" id="post-list-filter-category-trigger">
                                    <option value="*">Seluruh Kategori</option>
                                    {% for category in mw_category_list %}
                                    <option value="{{category.name}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-gutter">
                        <div class="form-group">
                            <div class="input-group" style="padding-left:20px;">
                                <input type="text" class="form-control input-sm search" style="width:100%">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button"><i class="mdi mdi-magnify"></i> Cari Pos</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 no-gutter table-responsive">
                        <table class="table table-striped" id="post-list-table">
                            <thead>
                                <tr class="info">
                                    <th style="width:1em;"></th>
                                    <th>Judul</th>
                                    <th style="width:10em;">Penulis</th>
                                    <th style="width:10em;">Kategori</th>
                                    <th style="width:10em;">Tag</th>
                                    <th style="width:10em;">Tanggal</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for post in posts %}
                                <tr height='65'>
                                    <td id="id-container{{post.id}}">
                                        <div class="checkbox">
                                            <input type="checkbox" value="{{post.id}}" id="check{{post.id}}" class="post-checkbox">
                                            <label for="check{{post.id}}"></label>
                                        </div>
                                    </td>
                                    <td class="post-title" data-title="{{post.title}}">
                                        <strong class="title">
                                            {{post.title}}
                                        </strong> {% if post.visibility == 0 %}
                                        <i class="fa fa-eye pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pos ini tersembunyi dari umum"></i> {% elseif post.visibility == 2 %}
                                        <i class="fa fa-lock pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pos ini terlindungi password"></i> {% endif %}
                                        <div class="form-inline">
                                            <a href="{{ path_for('admin-editpost', {'id': ''}) }}{{post.id}}" class="btn btn-link btn-sm no-gutter {{ post_tab != 'deleted' ?:'hidden' }}"><span class="label label-info"><i class="fa fa-pencil"></i> Edit</span></a>
                                            <a role="button" class="btn btn-link btn-sm no-gutter post-trash-sub {{ post_tab != 'deleted' ?:'hidden' }}" data-id="{{post.id}}"><span class="label label-primary"><i class="fa fa-trash"></i> Hapus</span></a>
                                            <a href="" class="btn btn-link btn-sm no-gutter {{ post_tab != 'deleted' ?:'hidden' }}"><span class="label label-success"><i class="fa fa-external-link"></i> Partinjau</span></a>
                                            <a role="button" class="btn btn-link btn-sm no-gutter post-revert-sub {{ post_tab == 'deleted' ?:'hidden' }}" data-id="{{post.id}}"><span class="label label-info"><i class="fa fa-undo"></i> Kembalikan</span></a>
                                            <a role="button" class="btn btn-link btn-sm no-gutter post-delete-sub {{ post_tab == 'deleted' ?:'hidden' }}" data-id="{{post.id}}"><span class="label label-danger"><i class="fa fa-trash"></i> Hapus Permanen</span></a>
                                        </div>
                                    </td>
                                    <td>{{post.author|last|first}}</td>
                                    <td class="category">{{post.category}}</td>
                                    <td>
                                        {% for tag in post.tags %}
                                        <span class="label label-{{ random(['primary', 'success', 'warning', 'danger', 'info']) }}">{{tag.name}}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if post.status == 1 %} Telah Terbit
                                        <br> {% else %} Terakhir Diubah
                                        <br> {% endif %} {{post.date|date("d M y")}}
                                        <span class="date hidden">{{post.date|date("m y")}}</span>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <th colspan="6"><center><h4>Tidak Ada Pos</h4></center></th>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="info">
                                    <th></th>
                                    <th>Judul</th>
                                    <th>Penulis</th>
                                    <th>Kategori</th>
                                    <th>Tag</th>
                                    <th>Tanggal</th>
                                </tr>
                            </tfoot>
                        </table>
                        <ul class="pagination pagination-sm pull-right">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {{ parent() }}
<script src="public/assets/js/list.min.js"></script>
<script src="public/assets/js/list.pagination.min.js"></script>
<script src="public/assets/js/bootbox.min.js"></script>
<script>
    $(document).ready(function(){
        postListPage();
    })
</script>
{% endblock %}
