{% extends "admin/base.html" %}{% block head %} {{ parent() }}
<link href="public/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet"> {% endblock %} {% block title %} Pos {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 no-gutter">
            <div class="col-md-8 no-gutter">
                <h3 class="page-title pull-left">Pos</h3>
                <a href="{{ path_for('admin-addpost') }}" class="btn btn-info btn-xs pull-left" style="margin:8px;">Tambah Baru</a>
            </div>
        </div>
        <div class="col-md-12 no-gutter">
            <ul id="myTabPost"  class="nav nav-pills custom-nav-pills">
                <li class="{{ post_all }}"><a href="{{ path_for('admin-allpost') }}">Semua <span class="badge">{{ mw_count_all }}</span></a></li>
                <li class="{{ post_published }}"><a href="{{ path_for('admin-allpost-published') }}" >Telah Terbit <span class="badge">{{ mw_count_published }}</span></a></li>
                <li class="{{ post_draft }}"><a href="{{ path_for('admin-allpost-draft') }}">Konsep <span class="badge">{{ mw_count_draft }}</span></a></li>
                <li class="{{ post_trash }}"><a href="{{ path_for('admin-allpost-trash') }}">Tong Sampah <span class="badge">{{ mw_count_deleted }}</span></a></li>
            </ul>
        </div>
        <br>
        <div class="col-md-12 no-gutter" id="post-list" style="padding-top:20px;">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="all-post">
                    <div class="col-md-6 no-gutter">
                        <form class="form-inline pull-left">
                            <div class="form-group">
                                <select class="form-control input-sm" id="select">
                                    <option>Tindakan Masal</option>
                                    {% if post_all or post_draft %}
                                    <option>Terbitkan Semua</option>
                                    {% endif %}
                                    {% if post_all or post_published %}
                                    <option>jadikan Konsep</option>
                                    {% endif %}
                                    {% if post_all or post_published or post_draft %}
                                    <option>Masukan Tong Sampah</option>
                                    {% endif %}
                                    {% if post_trash %}
                                    <option>Kembalikan</option>
                                    <option>Hapus Permanen</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-sm">Terapkan</button>
                            </div>
                        </form>
                        <div class="form-inline pull-left" style="padding-left:20px;">
                            <div class="form-group">
                                <select class="form-control input-sm filter-date" id="select">
                                    <option value="*">Semua Tanggal</option>
                                    {% for date in mw_date_groups %}
                                    <option value='{{date.date|date("m y")}}'>{{date.date|date("F Y")}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-inline pull-left" style="padding-left:20px;">
                            <div class="form-group">
                                <select class="form-control input-sm filter-category" id="select">
                                    <option value="*">Seluruh Kategori</option>
                                    {% for category in mw_category_list %}
                                    <option value="{{category.name}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-gutter">
                        <div class="form-group">
                            <div class="input-group" style="padding-left:20px;">
                                <input type="text" class="form-control input-sm search" style="width:100%">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button"><i class="mdi mdi-magnify"></i> Cari Pos</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 no-gutter table-responsive">
                        <table class="table table-striped post-list">
                            <thead>
                                <tr class="info">
                                    <th style="width:1em;"></th>
                                    <th>Judul</th>
                                    <th style="width:10em;">Penulis</th>
                                    <th style="width:10em;">Kategori</th>
                                    <th style="width:10em;">Tag</th>
                                    <th style="width:10em;">Tanggal</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for post in posts %}
                                <tr height='70'>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" value="{{post.id}}" id="check{{post.id}}" class="post-checkbox">
                                            <label for="check{{post.id}}"></label>
                                        </div>
                                    </td>
                                    <td class="post-title">
                                        <strong class="title">
                                            {{post.title}}
                                        </strong>
                                        {% if post.visibility == 0 %}
                                        <i class="fa fa-eye pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pos ini tersembunyi dari umum"></i>
                                        {% elseif post.visibility == 2 %}
                                        <i class="fa fa-lock pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pos ini terlindungi password"></i>
                                        {% endif %}
                                        <div class="form-inline">
                                            {% if post_all or post_published or post_draft %}
                                            <a href="{{ path_for('admin-editpost', {'id': ''}) }}{{post.id}}" class="btn btn-link btn-sm no-gutter"><span class="label label-info"><i class="fa fa-pencil"></i> Edit</span></a>
                                            <a href="" class="btn btn-link btn-sm no-gutter"><span class="label label-primary"><i class="fa fa-trash"></i> Hapus</span></a>
                                            <a href="" class="btn btn-link btn-sm no-gutter"><span class="label label-success"><i class="fa fa-external-link"></i> Partinjau</span></a>
                                            {% else %}
                                            <a href="{{ path_for('admin-editpost', {'id': ''}) }}{{post.id}}" class="btn btn-link btn-sm no-gutter"><span class="label label-info"><i class="fa fa-undo"></i> Kembalikan</span></a>
                                            <a href="" class="btn btn-link btn-sm no-gutter"><span class="label label-danger"><i class="fa fa-trash"></i> Hapus Permanen</span></a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>{{post.author|last|first}}</td>
                                    <td class="category">{{post.category}}</td>
                                    <td>{{post.tags}}</td>
                                    <td>
                                        {% if post.status == 1 %}
                                            Telah Terbit<br>
                                        {% else %}
                                            Terakhir Diubah<br>
                                        {% endif %}
                                        {{post.author|last|last|date("d M y")}}
                                        <span class="date hidden">{{post.author|last|last|date("m y")}}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="info">
                                    <th></th>
                                    <th>Judul</th>
                                    <th>Penulis</th>
                                    <th>Kategori</th>
                                    <th>Tag</th>
                                    <th>Tanggal</th>
                                </tr>
                            </tfoot>
                        </table>
                        <ul class="pagination pagination-sm pull-right">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %} {% block js %} {{ parent() }}
<script src="public/assets/js/list.min.js"></script>
<script src="public/assets/js/list.pagination.min.js"></script>
<script>
    $(document).ready(function (e){
            var postlist = new List('post-list', {
                valueNames: [ 'title', 'category', 'date' ],
                page: 10,
                plugins: [ ListPagination({
                    outerWindow: 1,
                    innerWindow: 2
                }) ]
            });

            $('.filter-category').on('change', function(){
                if($(this).val() != '*'){
                    postlist.filter(function(item) {
                        if (item.values().category == $('.filter-category').val()) {
                            return true;
                        } else {
                            return false;
                        }
                    });
                }else{
                    postlist.filter();
                }
            })

            $('.filter-date').on('change', function(){
                if($(this).val() != '*'){
                    postlist.filter(function(item) {
                        if (item.values().date == $('.filter-date').val()) {
                            return true;
                        } else {
                            return false;
                        }
                    });
                }else{
                    postlist.filter();
                }
            })
    });

</script>
{% endblock %}
