<form method="post"  data-toggle="validator" role="form"  action="{{ path_for('ApiPSB_DataSave', {'psb_id': psb_form.id, 'regnumber':regnumber, 'step': step }) }}">
    <fieldset>
        <legend>Nilai Rapor</legend>
        <div class="alert alert-dismissible alert-info">
            <div class="fa fa-info-circle fa-fw"></div> Jika nilai mengandung koma <strong>( , )</strong>, ganti dengan titik <strong>( . )</strong>
        </div>
        <div class="alert alert-dismissible alert-warning">
            <div class="fa fa-exclamation-triangle fa-fw"></div> Nilai tidak diawali dengan nol ( 0 )
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <th colspan="8" class="text-center" style="border:1px solid #ffffff;">Nilai Pelajaran</th>
                </tr>
                <tr class="active">
                    <th rowspan="3" class="text-center" style="width:150px;border:1px solid #ffffff;">Mata Pelajaran</th>
                    <th colspan="2" class="text-center" style="border:1px solid #ffffff;">Kelas VII</th>
                    <th colspan="2" class="text-center" style="border:1px solid #ffffff;">Kelas VIII</th>
                    <th colspan="1" class="text-center" style="border:1px solid #ffffff;">Kelas IX</th>
                </tr>
                <tr class="active">
                    <th class="text-center" style="border:1px solid #ffffff;">SMT 1</th>
                    <th class="text-center" style="border:1px solid #ffffff;">SMT 2</th>
                    <th class="text-center" style="border:1px solid #ffffff;">SMT 1</th>
                    <th class="text-center" style="border:1px solid #ffffff;">SMT 2</th>
                    <th class="text-center" style="border:1px solid #ffffff;">SMT 1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-group">Bahasa dan Sastra Indonesia</td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[1][bahasa]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[2][bahasa]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[3][bahasa]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[4][bahasa]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[5][bahasa]" required><div class="help-block with-errors"></div></td>
                </tr>
                <tr>
                    <td class="form-group">Bahasa Inggris</td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[1][english]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[2][english]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[3][english]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[4][english]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[5][english]" required><div class="help-block with-errors"></div></td>
                </tr>
                <tr>
                    <td class="form-group">Matematika</td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[1][math]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[2][math]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[3][math]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[4][math]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[5][math]" required><div class="help-block with-errors"></div></td>
                </tr>
                <tr>
                    <td class="form-group">Ilmu Pengetahuan Alam</td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[1][science]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[2][science]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[3][science]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[4][science]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[5][science]" required><div class="help-block with-errors"></div></td>
                </tr>
                <tr>
                    <td class="form-group">Ilmu Pengetahuan Sosial</td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[1][social]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[2][social]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[3][social]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[4][social]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[5][social]" required><div class="help-block with-errors"></div></td>
                </tr>
            </tbody>
            <thead>
                <tr class="active">
                    <th colspan="8" class="text-center">Informasi Rapor</th>
                </tr>
                <tr class="active">
                    <th rowspan="2" class="text-center" style="width:200px;"></th>
                    <th colspan="2" class="text-center">Kelas VII</th>
                    <th colspan="2" class="text-center">Kelas VIII</th>
                    <th colspan="1" class="text-center">Kelas IX</th>
                </tr>
                <tr class="active">
                    <th class="text-center">SMT 1</th>
                    <th class="text-center">SMT 2</th>
                    <th class="text-center">SMT 1</th>
                    <th class="text-center">SMT 2</th>
                    <th class="text-center">SMT 1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-group">Jumlah Nilai Rapor</td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[1][total]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[2][total]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[3][total]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[4][total]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[5][total]" required><div class="help-block with-errors"></div></td>
                </tr>
                <tr>
                    <td class="form-group">Jumlah Mata Pelajaran</td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[1][course_total]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[2][course_total]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[3][course_total]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[4][course_total]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[5][course_total]" required><div class="help-block with-errors"></div></td>
                </tr>
                <tr>
                    <td class="form-group">Rata Rata Rapor</td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[1][mean]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[2][mean]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[3][mean]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[4][mean]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[5][mean]" required><div class="help-block with-errors"></div></td>
                </tr>
                <tr>
                    <td class="form-group">Peringkat ke </td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[1][rank]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[2][rank]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[3][rank]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[4][rank]" required><div class="help-block with-errors"></div></td>
                    <td class="form-group"><input class="form-control input-sm" type="text" pattern="^(0|[1-9.][0-9.]*){1,}$" data-required-error="Wajib di-isi" data-pattern-error="Hanya Angka dan titik(.)" name="grades[5][rank]" required><div class="help-block with-errors"></div></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="active">
                    <th>File Scan Rapor</th>
                    <th>
                        <label class="btn btn-default btn-xs">
                            <input class="upload-file-selector" type="file" style="display:none;">
                            <i class="fa fa-cloud-upload fa-fw"></i>
                        </label>
                        <input type="hidden" class="cert-image" name="grades[1][image]">
                        <a href="" data-toggle="lightbox">
                            <img src="" style="max-height:30px;border:1px solid #000;border-radius:4px;">
                        </a>
                    </th>
                    <th>
                        <label class="btn btn-default btn-xs">
                            <input class="upload-file-selector" type="file" style="display:none;">
                            <i class="fa fa-cloud-upload fa-fw"></i>
                        </label>
                        <input type="hidden" class="cert-image" name="grades[2][image]">
                        <a href="" data-toggle="lightbox">
                            <img src="" style="max-height:30px;border:1px solid #000;border-radius:4px;">
                        </a>
                    </th>
                    <th>
                        <label class="btn btn-default btn-xs">
                            <input class="upload-file-selector" type="file" style="display:none;">
                            <i class="fa fa-cloud-upload fa-fw"></i>
                        </label>
                        <input type="hidden" class="cert-image" name="grades[3][image]">
                        <a href="" data-toggle="lightbox">
                            <img src="" style="max-height:30px;border:1px solid #000;border-radius:4px;">
                        </a>
                    </th>
                    <th>
                        <label class="btn btn-default btn-xs">
                            <input class="upload-file-selector" type="file" style="display:none;">
                            <i class="fa fa-cloud-upload fa-fw"></i>
                        </label>
                        <input type="hidden" class="cert-image" name="grades[4][image]">
                        <a href="" data-toggle="lightbox">
                            <img src="" style="max-height:30px;border:1px solid #000;border-radius:4px;">
                        </a>
                    </th>
                    <th>
                        <label class="btn btn-default btn-xs">
                            <input class="upload-file-selector" type="file" style="display:none;">
                            <i class="fa fa-cloud-upload fa-fw"></i>
                        </label>
                        <input type="hidden" class="cert-image" name="grades[5][image]">
                        <a href="" data-toggle="lightbox">
                            <img src="" style="max-height:30px;border:1px solid #000;border-radius:4px;">
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Selanjutnya</button>
        </div>
    </fieldset>
</form>
