<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 no-lgutter">
            <img src="{{img}}" alt="" style="width:100%;"/>
        </div>
        <div class="col-md-6 no-lgutter">
            <div class="form-group">
                <label class="control-label">Nama Siswa</label>
                <input class="form-control" value="{{name}}" readonly>
            </div>
            <div class="form-group">
                <label class="control-label">Asal Sekolah</label>
                <input class="form-control" value="{{school}}" readonly>
            </div>
            <div class="form-group">
                <label class="control-label">Nilai</label>
                <input class="form-control" value="{{grade}}" readonly>
            </div>
        </div>
    </div>
</div>
