{% extends "web/base.html" %} {% block title %} {{post.title}} {% endblock %} {% block content %} {% include 'web/header.html' %}
<div class="col-md-12 col-xs-12 page-wrapper-area">
    <div class="col-md-12">
        <div class="col-md-10 col-md-offset-1">
            <ul class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li class="active">{{ post.category }}</li>
            </ul>
            <div class="col-md-9 news-list">
                <div class="col-md-12 news-item">
                    <div class="col-md-12 news-title news-title-detail">
                        <h1>{{post.title}}</h1>
                        <div class="col-md-12 news-subtitle">
                            <ul class="nav nav-pills">
                                <li role="presentation">
                                    Diposting
                                    <a href="#">{{post.authors}}</a>
                                </li>
                                <li role="presentation">
                                    Kategori
                                    <a href="{{ path_for('getPostByCategoryHTML', {'category': post.category, 'ext':'/'}) }}">{{ post.category }}</a>
                                </li>
                                <li role="presentation">
                                    Tanggal
                                    <a href="{{ path_for('getPostByDateHTML', {'year' : post.date|date('y'), 'month': post.date|date('m')})}}">{{ post.date|date('d/m/Y') }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% if post.header_image != '' %}
                    <img class="news-header" src="{{ path_for('getPostmediaHeaderIMAGE', {'img': post.header_image}) }}">
                    {% endif %}
                    <div class="col-md-12 news-summary">
                        {{ post.content|raw }}
                    </div>
                </div>
                <ul class="pagination pagination-sm">
                    <b>tag : </b>
                    {% for tag in post.tags %}
                    {% if loop.index is divisible by(4) %}
                    <span class="label label-warning">{{ tag.name }}</span>
                    {% elseif loop.index is divisible by(3) %}
                    <span class="label label-success">{{ tag.name }}</span>
                    {% elseif loop.index is divisible by(2) %}
                    <span class="label label-info">{{ tag.name }}</span>
                    {% elseif loop.index is divisible by(5) %}
                    <span class="label label-danger">{{ tag.name }}</span>
                    {% else %}
                    <span class="label label-primary">{{ tag.name }}</span>
                    {% endif %}
                    {% endfor %}
                </ul>
                <ul class="pagination pagination-sm pull-right">
                    <li><a>Share</a></li>
                    <li><a href="#" class="mdi mdi-facebook"style="color:#3b5998; border-color:#3b5998"></a></li>
                    <li><a href="#" class="mdi mdi-twitter" style="color:#55acee; border-color:#55acee"></a></li>
                    <li><a href="#" class="mdi mdi-google-plus" style="color:#dd4b39; border-color:#dd4b39"></a></li>
                    <li><a href="#" class="mdi mdi-pinterest" style="color:#cb2027; border-color:#cb2027"></a></li>
                </ul>
            </div>
            {% include 'web/sidebar.html' %}
        </div>
    </div>
</div>
{% endblock %} {% block js %} {{ parent() }} {% endblock %}
