<div class="col-md-3 side-bar">
    <div class="panel panel-thm-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Kategori</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="#">Pengumuman</a></li>
                <li role="presentation"><a href="#">Artikel</a></li>
                <li role="presentation"><a href="#">Pengetahuan</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-thm-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Arsip</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a role="button" data-toggle="collapse" href="#archive2016" aria-expanded="false" aria-controls="archive2016">2016</a></li>
                <ul id="archive2016" class="collapse nav nav-pills nav-stacked ">
                    <li role="presentation"><a href="#">Januari</a></li>
                    <li role="presentation"><a href="#">Februari</a></li>
                </ul>
                <li role="presentation"><a role="button" data-toggle="collapse" href="#archive2015" aria-expanded="false" aria-controls="archive2016">2015</a></li>
                <ul id="archive2015" class="collapse nav nav-pills nav-stacked ">
                    <li role="presentation"><a href="#">Januari</a></li>
                    <li role="presentation"><a href="#">Februari</a></li>
                    <li role="presentation"><a href="#">April</a></li>
                </ul>
                <li role="presentation"><a role="button" data-toggle="collapse" href="#archive2014" aria-expanded="false" aria-controls="archive2016">2014</a></li>
                <ul id="archive2014" class="collapse nav nav-pills nav-stacked ">
                    <li role="presentation"><a href="#">Januari</a></li>
                    <li role="presentation"><a href="#">Februari</a></li>
                    <li role="presentation"><a href="#">Juni</a></li>
                    <li role="presentation"><a href="#">Agustus</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="panel panel-thm-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Terbaru</h3>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-header">
                    <img src="res/img/13385771_255950824767690_1897064539_n.jpg" width="100%">
                </div>
                <div class="media-body">
                    <a href="#" class="media-heading">Olympiade Sains Kabupaten 2015</a>
                    <h6>20 Jan 2015</h6>
                </div>
            </div>
            <div class="media">
                <div class="media-header">
                    <img src="res/img/995940IMG_0200.JPG" width="100%">
                </div>
                <div class="media-body">
                    <a href="#" class="media-heading">Upacara Hari Pendidikan Nasional 2016</a>
                    <h6>20 Jan 2015</h6>
                </div>
            </div>
        </div>
    </div>
</div>
